<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog_du_lịch</title>
    <link rel="stylesheet" href="~/js/site.js">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css">

</head>
<body>
    <header class="header_travel">
        <nav>
            <div class="container">
                <div class="header_travel-nav">
                    <a class="navbar-brand-title" asp-area="" asp-controller="Home" asp-action="Index">Blog_du_lịch</a>
                    <div class="container-travel">
                        <ul class="container-travel-list">
                            <li class="container-travel-item">
                                <a class="container-travel-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="container-travel-item">
                                <a class="container-travel-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    @*--------img-header----------*@
<div class="slice-travel">
    <div class="controler-img_icon">
        <span class="slice-img-left"> <i class="ti-arrow-circle-left" onclick="Back()"> </i> </span>
        <span class="slice-img-right"><i class="ti-arrow-circle-right" onclick="Next()"> </i></span>
    </div>
    <div class="silce-img">
        <div class="silce-img_item">
            <img src="~/lib/img-travel/1.jpg" />
            <img src="~/lib/img-travel/4.jpg" />
            <img src="~/lib/img-travel/7.jpg" />
            <img src="~/lib/img-travel/13.jpeg">
        </div>

    </div>
</div>
    @*--------img-header----------*@

    <div class="container">

        <main role="main" class="pb-3">
            
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Blog_du_lịch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
